.materialListElement {
  background-color: #eff6fa;
  color: #2f3b4c;
  display: grid;
  grid-template-columns: 3fr 9fr 1fr 1fr 1fr;
  gap: var(--space-xs);
}
.materialListElement:hover {
  background-color: #e2edf3;
}
