.materialUpdateCard {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-gap: var(--space-xs);
}

.materialUpdateCardName {
  grid-column-start: 1;
  grid-column-end: 1;
}
.materialUpdateCardDescription {
  grid-column-start: 2;
  grid-column-end: 5;
}
.materialUpdateCardPurchaseUOM {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-start: 1;
  grid-column-end: 1;
}
.materialUpdateCardStorageUOM {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-start: 1;
  grid-column-end: 1;
}
.materialUpdateCardPurchasePrice {
  grid-column-start: 2;
  grid-column-end: 2;
}
.materialUpdateCardRatio {
  grid-column-start: 2;
  grid-column-end: 2;
}
.materialUpdateCardErrors {
  grid-column: 1 / span 3;
}
.materialUpdateCardButton {
  width: 30%;
  grid-column-start: 1;
  grid-column-start: 1;
}
