.materialListElement {
  background-color: yellow;
  display: grid;
  grid-template-columns: 2fr 5fr 1fr 1fr 1fr;
  padding: 0.2em 0.4em 0.2em 0.4em;
}
.materialListElement:hover {
  background-color: red;
}
