.basicDropDownMenu {
  box-shadow: 0.03rem 0.07rem 0 0.07rem rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 0;
  min-width: 12rem;
  margin: 0;
  border-radius: var(--space-xs);
  background-color: var(--list-element-background-color);
}
.basicDropDownMenu:hover {
  box-shadow: 0.03rem 0.07rem 0 0.07rem rgba(0, 0, 0, 0.3);
}

.basicDropDownMenuListElement {
  color: var(--navbar-background);
  font-family: var(--title-style-family);
  font-weight: var(--title-style-family-weight);
  height: var(--space-xxl);
  background-color: var(--list-element-background-color);
  padding: 0 var(--space-lg);
  text-align: left;
  display: flex;
  align-items: center;
}

.basicDropDownMenuElement {
  font-family: var(--title-style-family);
  font-weight: var(--title-style-family-weight);
  height: var(--space-xxl);
  background-color: var(--list-element-background-color);
  color: var(--list-element-value-color);
  padding: 0 var(--space-lg);
  text-align: left;
  display: flex;
  align-items: center;
  border-radius: var(--space-xs);
  text-decoration: none;
}
.basicDropDownMenuElement:hover {
  background-color: var(--list-element-background-hover-color);
  cursor: pointer;
}
