.addButton {
  border: none;
  margin: 0;
  padding: 0.5rem;
  font-size: 1.2rem;
  background-color: #6C90A3;
  color: #ffffff;
  width: 10rem;
  outline: none;
}
.addButton:hover {
  background-color: #5B7C90;
}
