.dataModal {
  background-color: var(--modal-background-frame-color);
  border: 1px solid var(--modal-border-color);
  padding: 1rem;
  border-radius: 0.5rem;
}

.dataModalHeader {
  background-color: var(--modal-background-color);
}

.dataModalBody {
  background-color: var(--modal-background-color);
}
