.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background: var(--navbar-background);
  margin: 0rem;
  padding: 0.5em;
  width: 100%;
  min-width: 400px;
}

.nbHomeElement {
  color: #cce6ff;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: var(--title-style-family);
  font-weight: var(--title-style-family-weight);
}

.nbStandardElement {
  border: none;
  color: #ffffff;
  background-color: var(--navbar-background);
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  font-family: var(--title-style-family);
  font-weight: var(--title-style-family-weight);
}
.nbStandardElement:hover {
  cursor: pointer;
}

.nbUserContainer {
  grid-column: 8;
  position: relative;
  text-align: center;
}
