.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background: #3b6d8c;
  margin: 0rem;
  padding: 0.5em;
  width: 100%;
  min-width: 400px;
}

.nbHomeElement {
  color: #cce6ff;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: var(--title-style-family);
  font-weight: var(--title-style-family-weight);
}

.nbStandardElement {
  color: #ffffff;
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  font-family: var(--title-style-family);
  font-weight: var(--title-style-family-weight);
}

.nbStandardElement:hover {
  cursor: pointer;
}
