.bomLinesAddElement {
  display: grid;
  grid-template-columns: 3fr 7fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: var(--space-xs);
  background-color: var(--list-element-background-color);
  height: var(--space-xxl);
  padding: 0 var(--space-xs) 0 var(--space-xs);
  position: relative;
}
.bomLinesAddElement:hover {
  background-color: var(--list-element-background-hover-color);
}
