.personalPage {
  width: 100%;
  max-width: 500px;
  margin: auto;
  display: grid;
  grid-gap: var(--space-xl);
  box-sizing: border-box;
}

.userTitle {
  text-align: center;
}

.personalData {
  display: grid;
  grid-gap: var(--space-xs);
  width: 100%;
  margin: auto;
}
.passwordFields {
  display: grid;
  grid-gap: var(--space-xs);
}

.changePersonalDataButtonSection {
  text-align: center;
}

.changePersonalDataButton {
  border: none;
  background-color: var(--std-button-background-color);
  color: var(--std-button-text-color);
  height: var(--space-xxl);
}
.changePersonalDataButton:hover {
  background-color: var(--std-button-background-color-hover);
}

.showPasswordSectionButton {
  border: none;
  color: var(--danger-button-text-color);
  background-color: var(--danger-button-background-color);
  width: 10rem;
  height: var(--space-xxxl);
  margin: auto;
}

.showPasswordSection {
  width: 100%;
  display: grid;
  grid-gap: var(--space-lg);
  margin: auto;
}

.changePasswordButtonSection {
  text-align: center;
}

.changePasswordButton {
  border: none;
  background-color: var(--std-button-background-color);
  color: var(--std-button-text-color);
  height: var(--space-xxl);
}
.changePasswordButton:hover {
  background-color: var(--std-button-background-color-hover);
}

@media (max-width: 500px) {
  .personalPage,
  .personalData {
    width: 100%;
  }
}
